:root {
  --font-primary: 'Plus Jakarta Sans', sans-serif;
  --color-black: hsl(0, 0%, 1.2%);
  --color-white: hsl(0, 0%, 100%);
  --color-brown: hsl(30, 5.2%, 45.5%);
  --color-cream: hsl(28, 100%, 97.1%);
  --color-blue: hsl(251.5, 66.3%, 61.6%);
  --color-yellow: hsl(27.6, 89.3%, 67.1%);
  --color-pink: hsl(0, 78%, 78.6%);
  --color-red: hsl(7.2, 77%, 65.9%);
  --color-cyan: hsl(172.1, 45.6%, 57.5%);
  --color-purple: hsl(313.6, 45.3%, 22.9%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-cream);
}

.wrapper {
  padding: 16px 0;
}

main >:not(.slider) {
  padding: 0 16px;
}

.logo {
  width: 48px;
  height: 48px;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  color: var(--color-cream);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 176px;
  border-radius: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  background-color: var(--color-black);
}

.hero-text {
  margin-bottom: 32px;
  text-align: center;
}

.hero-text h1 {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 45px;
  color: var(--color-black);
}

.hero-text p {
  padding: 0 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-brown);
}

.hero-skills {
  display: grid;
  grid-template-areas: 
    "design design"
    "ux apps"
    "illustrations illustrations"
    "photography photography"
    "motion motion"
  ;
  gap: 24px;
  color: var(--color-white);
}

.hero-skills figure {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 24px;
  border-radius: 8px;
}

.hero-skills figcaption {
  align-self: flex-end;
  margin-right: auto;
}

.graphic-design {
  grid-area: design;
  height: 364px;
  background-color: var(--color-blue);
}

.ux,
.apps,
.photography,
.motion {
  height: 182px;
}

.ux {
  grid-area: ux;
  background-color: var(--color-yellow);
}

.apps {
  grid-area: apps;
  background-color: var(--color-pink);
}

.illustrations {
  grid-area: illustrations;
  height: 158px;
  background-color: var(--color-red);
}

.photography {
  grid-area: photography;
  background-color: var(--color-cyan);
}

.motion {
  grid-area: motion;
  background-color: var(--color-purple);
}

.bio {
  margin: 100px 0;
  text-align: center;
  color: var(--color-cream);
}

.bio img {
  max-width: 300px;
}

.bio h2 {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 26px;
  line-height: 33px;
  color: var(--color-black);
}

.bio p {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-brown);
}

.bio a,
.contact a {
  margin: 0 auto;
  background-color: var(--color-red);
}

.slider {
  text-align: center;
  margin-bottom: 100px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 15px;
  margin: 32px auto;
  overflow-x: hidden;
}

.gallery img {
  height: 180px;
  background: #D8D8D8;
  border-radius: 10px;
  object-fit: cover;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.controls button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--color-black);
}

main .contact {
  height: 352px;
  padding: 48px 24px;
  border-radius: 10px;
  text-align: center;
  background: var(--color-black);
  color: var(--color-cream);
  margin: 0 16px 40px;
}

.contact h2 {
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 24px;
}

.contact p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

footer {
  padding-bottom: 16px;
}
